<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parts Reliabilityв</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>Список самолетов</h1>
    <nav>
        <a th:href="@{/pd/all-parts_reliabilities}">Aircraft Utilization</a>
        <a th:href="@{/all-workers}">Работники</a>
        <a th:href="@{/components}">Компоненты</a>
        <a th:href="@{/all-suppliers}">Поставщики</a>
        <a th:href="@{/m/aircraft-maintenance}">Aircraft Maintenance</a>
    </nav>
</header>
<main>
    <button id="showFormButton" class="btn btn-dark" data-toggle="">New Aircraft</button>
    <form th:action="@{/search-parts-reliability}">
        <input type="hidden" id="currentPage" name="pageNo" th:value="${currentPage}">
        <input type="text" id="searchField" name="keyWord" th:value="${keyWord}"  placeholder="Поиск">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button  type="submit">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" onclick="ClearSearch()" value="Clear">

    </form>

    <table id="partsReliabilityTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>description</th>
            <th>failures</th>
            <th>rateFailures</th>
            <th>Обновлять</th>
            <th>Удалить</th>
            <th>детали</th>


        </tr>
        </thead>
        <tbody>
        <!-- Здесь будут отображаться данные о самолетах -->
        <tr th:each="listOfPartsRel: ${listOfPartsRel} ">
            <td th:text="${listOfPartsRel.id}"></td>
            <td th:text="${listOfPartsRel.description}"></td>
            <td th:text="${listOfPartsRel.failures}"></td>
            <td th:text="${listOfPartsRel.rateFailures}"></td>
            <td>
                <th:block th:with="PartsRelId=${listOfPartsRel.id}">
                    <a class="show-update btn btn-dark"
                       data-toggle=""
                       data-target="#updatePartsReliabilityModal"
                       th:data-aircraft-id="${listOfPartsRel.id}">

                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </th:block>

            </td>

            <td><a th:href="@{/delete-parts-reliability/{id}(id=${listOfPartsRel.id})}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

            <td>
                <th:block th:with="aircraftId=${listOfPartsRel.id}">
                    <a class="show-details btn btn-light"
                       data-toggle=""
                       data-target="#partsReliabilityCardModal"
                       th:data-details-id="${listOfPartsRel.id}">
                        <i class="fas fa-info-circle" style="font-size: 24px; color: #0a0a0a;"></i>
                    </a>
                </th:block>
            </td>


        </tr>

        </tbody>
    </table>
    <nav aria-label="PageNav">
        <ul class="pagination">
            <li class="page-item">
                Total Items [[${totalContent}]] : Page [[${currentPage}]] of [[${totalPage}]]
            </li>
            <li class="page-item mx-2">
                <a th:if="${currentPage > 1}" th:href="@{/all-parts_reliabilities/page/1}">First</a>
                <span th:unless="${currentPage > 1}">First</span>
            </li>
            <li class="page-item mx-2">
                <a th:if="${currentPage > 1}" th:href="@{'/all-parts_reliabilities/page/' + ${currentPage - 1}}">Previous</a>
                <span th:unless="${currentPage > 1}">Previous</span>
            </li>
            <li class="page-item mx-2">
            <span th:each="i: ${#numbers.sequence(1, totalPage)}">
                <a th:if="${i != currentPage}" th:href="@{'/all-parts_reliabilities/page/' + ${i}}">[[${i}]]</a>
                <span th:unless="${i != currentPage}">[[${i}]]</span>
            </span>
            </li>
            <li class="page-item mx-2">
                <a th:if="${currentPage < totalPage}" th:href="@{'/all-parts_reliabilities/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPage}">Next</span>
            </li>
            <li class="page-item mx-2">
                <a th:if="${currentPage < totalPage}" th:href="@{'/all-parts_reliabilities/page/' + ${totalPage}}">Last</a>
                <span th:unless="${currentPage < totalPage}">Last</span>
            </li>
        </ul>
    </nav>
</main>
<div id="modalContainer"></div>
<div id="updateContainer"></div>
<div id="detailsContainer"></div>



<footer>
    Подвал сайта
</footer>
<script>

    // Function to close existing modal
    function closeModal() {
        $('#newPartsReliabilityModal').modal('hide'); // Hide the modal
    }
    // function to open new aircraft modal
    document.getElementById('showFormButton').addEventListener('click', function() {
        closeModal();
        loadModalContent();
    });

    function loadModalContent() {
        var modalContainer = document.getElementById('modalContainer');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/show-new-parts-reliability', true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    modalContainer.innerHTML = xhr.responseText;
                    $('#newPartsReliabilityModal').modal('show'); // Show the modal
                } else {
                    alert("Failed to load modal")
                }
            }
        };
        xhr.send();
    }

    // function to open update aircraft modal
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.show-update').forEach(function(link) {
            link.addEventListener('click', function(event) {
                var aircraftId = link.getAttribute('data-aircraft-id');

                console.log("Aircraft ID:", aircraftId);
                loadUpdateModalContent(aircraftId);
            });
        });
    });

    function loadUpdateModalContent(aircraftId) {
        var modalContainer = document.getElementById('updateContainer');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/show-update-parts_reliability-form/' + aircraftId, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log("Opening update form")
                    modalContainer.innerHTML = xhr.responseText;
                    $('#updatePartsReliabilityModal').modal('show'); // Show the modal
                } else {
                    alert("Failed to load modal")
                }
            }
        };
        xhr.send();
    }

    // function to open  aircraft details modal
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.show-details').forEach(function(link) {
            console.log("HI");
            link.addEventListener('click', function(event) {
                var aircraftId = link.getAttribute('data-details-id');
                console.log("Aircraft ID:", aircraftId);
                loadDetailsModalContent(aircraftId);
            });
        });
    });

    function loadDetailsModalContent(aircraftId) {
        var modalContainer = document.getElementById('detailsContainer');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/parts_reliability/parts_reliability_details/' + aircraftId, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log("Opening details modal")
                    modalContainer.innerHTML = xhr.responseText;
                    $('#partsReliabilityCardModal').modal('show'); // Show the modal
                } else {
                    alert("Failed to load modal")
                }
            }
        };
        xhr.send();
    }
    // SEARCH
    function ClearSearch() {
        window.location= "/all-parts_reliabilities"
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
