<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            console.log("DOMContentLoaded event fired."); // Debugging line

            // Counter to track the number of worker fields
            var workerFieldCount = 1;

            // Add worker input fields
            document.getElementById("addWorker").addEventListener("click", function () {
                console.log("Add Worker button clicked."); // Debugging line

                // Clone the worker field container
                var workerField = document.querySelector(".worker-field").cloneNode(true);

                // Increment the input field names and IDs to avoid conflicts
                var workerNameInput = workerField.querySelector("[name='workerNames']");
                workerNameInput.name = "workerNames_" + workerFieldCount;
                workerNameInput.id = "workerNames_" + workerFieldCount;

                var workerPositionInput = workerField.querySelector("[name='workerPositions']");
                workerPositionInput.name = "workerPositions_" + workerFieldCount;
                workerPositionInput.id = "workerPositions_" + workerFieldCount;

                workerFieldCount++;

                // Append the cloned worker field container
                document.querySelector(".worker-fields").appendChild(workerField);
            });
        });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить новый самолет</title>
    <style>
        /* Customize modal size and input fields */
        .modal-dialog {
            max-width: 50%;
        }

        /* Style for placing input fields side by side */
        .side-by-side {
            /*display: flex;*/
            justify-content: space-between;
        }
        .nav-item {
            flex: 0 0 48%; /* Adjust the width as needed */

        }
        .nav-link.active {
            background-color: black; /* Set your desired color */
            color: white; /* Set text color for better contrast */
        }

        /* Style for dividing columns into rows */
        .row-divider {
            margin-bottom: 1rem;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
</head>
<body>

<div class="modal fade" id="newAircraftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Новый самолет</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <ul class="nav nav-tabs" id="aircraftTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Tab 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Tab 2</a>
                    </li>
                </ul>
                <form id="dynamicForm" action="#" method="post" th:action="@{/save-aircraft}" th:object="${aircraft}">
                    <div class="tab-content" id="aircraftTabsContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <!-- Tab 1 input fields -->
                            <div th:if="${#fields.hasErrors('*')}">
                                <div class="alert alert-danger">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row row-divider mt4">
                                <div class="form-group col-md-6">
                                    <label for="tailNumber" class="mt4">Tail No</label>
                                    <input required type="text" class="form-control" id="tailNumber" th:field="*{tailNumber}" placeholder="Tail No">
<!--                                    <span th:if="${#fields.hasErrors('tailNumber')}" th:errors="*{tailNumber}"></span>-->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="serialNumber" class="mt4">Serial No</label>
                                    <input required type="text" class="form-control" id="serialNumber" th:field="*{serialNumber}" placeholder="Serial No">
<!--                                    <span th:if="${#fields.hasErrors('serialNumber')}" th:errors="*{serialNumber}"></span>-->
                                </div>
                            </div>
                            <div class="row row-divider">
                                <div class="form-group col-md-6">
                                    <label for="type">Type</label>
                                    <input required type="text" class="form-control" id="type" th:field="*{type}" placeholder="Type">
<!--                                    <span th:if="${#fields.hasErrors('currentLocation')}" th:errors="*{currentLocation}"></span>-->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="capacity">Capacity</label>
                                    <input required type="number" class="form-control" id="capacity" th:field="*{capacity}" placeholder="Capacity">
<!--                                    <span th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></span>-->
                                </div>
                            </div>
                            <div class="row row-divider">
                                <div class="form-group col-md-6">
                                    <label for="baseLocation">Base Location</label>
                                    <input required type="text" class="form-control" id="baseLocation" th:field="*{baseLocation}" placeholder="Base Location">
<!--                                    <span th:if="${#fields.hasErrors('baseLocation')}" th:errors="*{baseLocation}"></span>-->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="currentLocation">Current Location</label>
                                    <input required type="text" class="form-control" id="currentLocation" th:field="*{currentLocation}" placeholder="Current Location">
<!--                                    <span th:if="${#fields.hasErrors('currentLocation')}" th:errors="*{currentLocation}"></span>-->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                            <!-- Tab 2 input fields -->
                            <div class="row row-divider mt4">
                                <div class="form-group col-md-6">
                                    <label for="manufacturer">Manufacturer</label>
                                    <input required type="text" class="form-control" id="manufacturer" th:field="*{manufacturer}" placeholder="Manufacturer">
<!--                                    <span th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></span>-->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="technicalStatus">Technical Status</label>
                                    <input required type="text" class="form-control" id="technicalStatus" th:field="*{technicalStatus}" placeholder="Technical Status">
<!--                                    <span th:if="${#fields.hasErrors('technicalStatus')}" th:errors="*{technicalStatus}"></span>-->
                                </div>
                            </div>
                            <div class="row row-divider">
                                <div class="form-group col-md-6">
                                    <label for="totalFlightHours">Flight Hours</label>
                                    <input required type="number" class="form-control" id="totalFlightHours" th:field="*{totalFlightHours}" placeholder="Flight Hours">
<!--                                    +<span th:if="${#fields.hasErrors('totalFlightHours')}" th:errors="*{totalFlightHours}"></span>-->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="deferredMaintenanceTasks">Deferred Maintenance Tasks</label>
                                    <input required type="number" class="form-control" id="deferredMaintenanceTasks" th:field="*{deferredMaintenanceTasks}" placeholder="Deferred Maintenance Tasks">
<!--                                    <span th:if="${#fields.hasErrors('deferredMaintenanceTasks')}" th:errors="*{deferredMaintenanceTasks}"></span>-->
                                </div>
                            </div>
                            <div class="row row-divider">
                                <div class="form-group col-md-6">
                                    <label for="nextMaintenanceDate">Next Maintenance Date</label>
                                    <input required type="date" class="form-control" id="nextMaintenanceDate" th:field="*{nextMaintenanceDate}" placeholder="yyyy-mm-dd">
<!--                                    <input required type="text" class="form-control datepicker" id="nextMaintenanceDate" th:field="*{nextMaintenanceDate}" placeholder="yyyy-mm-dd">-->

                                </div>
                                <!-- Add more fields if needed -->
                            </div>
                            <div class="worker-fields">
                                <div class="worker-field">
                                    <div class="row row-divider mt4">
                                        <div class="form-group col-md-6">
                                            <label for="workerName">Worker Name</label>
                                            <input required id="workerName" type="text" class="form-control" name="workerNames">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="workerPosition">Worker Position</label>
                                            <input required id="workerPosition" type="text" class="form-control" name="workerPositions">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" id="addWorker">Add Worker</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
