<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить новый самолет</title>
    <style>
        /* Customize modal size and input fields */
        .modal-dialog {
            max-width: 50%;
        }

        /* Style for placing input fields side by side */
        .side-by-side {
            /*display: flex;*/
            justify-content: space-between;
        }
        .nav-item {
            flex: 0 0 48%; /* Adjust the width as needed */

        }
        .nav-link.active {
            background-color: black; /* Set your desired color */
            color: white; /* Set text color for better contrast */
        }

        /* Style for dividing columns into rows */
        .row-divider {
            margin-bottom: 1rem;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="aircraftUtilCardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
<!--                <h5 class="modal-title text-center" id="cardModalLabel" style="color: blue;">Детали самолета</h5>-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" th:object="${details}">
<!--                    <img class="card-img-top" alt="Placeholder Image">-->
                    <div class="card-body">
                        <h5 class="card-title" style="color: blue; text-align: center;">Детали самолета</h5>
                        <p class="card-text"><span>Id: </span><span th:text="*{id}"></span></p>
                        <p class="card-text"><span>Dep. Date: </span><span th:text="*{depDate}"></span></p>
                        <p class="card-text"><span>Arrival Date: </span><span th:text="*{arrivalDate}"></span></p>
                        <p class="card-text"><span>A/C: </span><span th:text="*{AC}"></span></p>
                        <p class="card-text"><span>A/C Type: </span><span th:text="*{acType}"></span></p>
                        <p class="card-text"><span>Operation: </span><span th:text="*{operation}"></span></p>
                        <p class="card-text"><span>Flight: </span><span th:text="*{flight}"></span></p>
                        <p class="card-text"><span>Serv. Type: </span><span th:text="*{servType}"></span></p>
                        <p class="card-text"><span>Flight log: </span><span th:text="*{flightLog}"></span></p>
                        <p class="card-text"><span>Per Day: </span><span th:text="*{perDay}"></span></p>
                        <p class="card-text"><span>Hours: </span><span th:text="*{hours}"></span></p>
                        <p class="card-text"><span>Block Hours: </span><span th:text="*{blockHours}"></span></p>
                        <p class="card-text"><span>Cycles: </span><span th:text="*{cycles}"></span></p>
                        <p class="card-text"><span>TAH: </span><span th:text="*{tah}"></span></p>
                        <p class="card-text"><span>TAC: </span><span th:text="*{tac}"></span></p>
                        <p class="card-text"><span>Dep.: </span><span th:text="*{dep}"></span></p>
                        <p class="card-text"><span>Arr.: </span><span th:text="*{arr}"></span></p>
                        <p class="card-text"><span>Departure Time: </span><span th:text="*{departureTime}"></span></p>
                        <p class="card-text"><span>Arrival Time: </span><span th:text="*{arrivalTime}"></span></p>


                    </div>
                    <div>
                        <div  style="color: blue;text-align: center;"  th:if="${not #lists.isEmpty(details.workers)}">
                            <h5>Workers Assigned to Aircraft</h5>
                        </div>

                        <ul>
                            <li th:each="worker : ${details.workers}">
                                <p class="card-text"><span>Name: </span><span th:text="${worker.name}"></span></p>
                                <p class="card-text"><span>Position: </span><span th:text="${worker.position}"></span></p>
                                <p class="card-text"><span>Contact: </span><span th:text="${worker.contactInfo}"></span></p>


                                <!-- Add more worker details as needed -->
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div th:if="${not #lists.isEmpty(details.components)}" style="color: blue; text-align: center;">
                            <h5>Components Of Aircraft</h5>
                        </div>


                        <ul>
                            <li th:each="component : ${details.components}">
                                <p class="card-text"><span>Name: </span><span th:text="${component.componentName}"></span></p>
                                <p class="card-text"><span>Position: </span><span th:text="${component.manufacturer}"></span></p>
                                <p class="card-text"><span>Contact: </span><span th:text="${component.cost}"></span></p>


                                <!-- Add more worker details as needed -->
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>-->


</body>
</html>
